.RadioGroup {
  display: flex;
  gap: var(--radio-group-row-gap);

  &:where([data-direction="col"]) {
    flex-direction: column;
    gap: var(--radio-group-col-gap);
  }
}

.RadioLabel {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--radio-group-item-gap);
  cursor: pointer;
  font-size: var(--radio-group-item-font-size);
  line-height: var(--radio-group-item-line-height);

  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &[data-block] {
    width: 100%;
  }
}

/* Creates centered alignment with `line-height` of the label */
.RadioIndicatorWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: var(--radio-group-item-line-height);

  /* Radix pushes the inputs off screen in a weird way that
    messes with error overlays */
  > input {
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px !important;
    transform: none !important;
  }
}

.RadioItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: var(--radio-group-indicator-size);
  height: var(--radio-group-indicator-size);
  padding: 0;
  border: none;
  border-radius: var(--radius-full);
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--radio-group-indicator-border-color) inset;
  cursor: pointer;
  transition-duration: var(--transition-duration-basic);
  transition-property: box-shadow;
  transition-timing-function: var(--transition-ease-basic);

  &:where(:not([data-disabled])) {
    @mixin hover {
      box-shadow: 0 0 0 1px var(--radio-group-indicator-border-color-hover) inset;
    }
  }

  &[data-disabled] {
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--color-ring);
    outline-offset: 2px;
  }
}

.RadioIndicator {
  position: relative;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &::before,
  &::after {
    display: block;
    content: "";
    grid-column-start: 1;
    grid-row-start: 1;
    place-self: center center;
    will-change: transform;
  }

  /* Filled circle */
  &::before {
    width: var(--radio-group-indicator-size);
    height: var(--radio-group-indicator-size);
    border-radius: var(--radius-full);
    animation: fade-in 0.6s var(--cubic-enter);
    background-color: var(--radio-group-indicator-background-color);
  }

  /*  Empty middle circle */
  &::after {
    width: var(--radio-group-indicator-hole-size);
    height: var(--radio-group-indicator-hole-size);
    border-radius: var(--radius-full);
    animation: scale-in 0.6s var(--cubic-enter);
    background-color: var(--radio-group-indicator-hole-background-color);
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
