.Container {
  position: relative;
  display: flex;

  &[data-has-label] {
    align-items: flex-start;
  }

  &[data-orientation="right"] {
    flex-direction: row-reverse;
  }

  /* Radix pushes the inputs off screen in a weird way that
    messes with error overlays */
  > input {
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px !important;
    transform: none !important;
  }
}

.Checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 18px;
  max-width: 18px;
  height: 18px;
  padding: 0;
  border: 1px solid light-dark(var(--gray-200), var(--gray-500));
  border-radius: var(--radius-xs);
  background-color: transparent;
  cursor: pointer;
  transition:
    border-color 150ms ease,
    background-color 150ms ease;

  [data-has-label] & {
    /* Adjust downward for label line-height - not using center to account for long labels than can wrap. */
    top: 1px;
  }

  &:where(:not([data-disabled], [data-state="checked"])) {
    @mixin hover {
      border-color: light-dark(var(--gray-300), var(--gray-600));
    }
  }

  &[data-state="indeterminate"],
  &[data-state="checked"] {
    border-color: var(--gray-900);
    background-color: var(--gray-900);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--color-ring);
    outline-offset: 2px;
  }

  &[data-disabled] {
    border-color: light-dark(var(--gray-150), var(--gray-300));
    background: light-dark(var(--gray-25), var(--gray-200));
    cursor: not-allowed;

    &[data-state="checked"] {
      border-color: light-dark(var(--gray-300), var(--gray-200));
      background-color: light-dark(var(--gray-300), var(--gray-200));
    }
  }
}

.CheckMark {
  position: absolute;
  top: 0;
  left: 0;
  width: 64%;
  height: 32%;
  transform: rotate(-45deg) translate(-10%, 100%);
  transform-origin: center;
  transition:
    opacity 150ms ease,
    transform 150ms ease;

  @starting-style {
    opacity: 0;
  }

  [data-state="indeterminate"] & {
    transform: translate(30%, 80%);

    &::before {
      opacity: 0;
    }
  }

  /* CheckMark arms */
  &::before,
  &::after {
    position: absolute;
    display: block;
    background: var(--gray-0);
    content: "";
    will-change: transform;

    @starting-style {
      transform: scale(0);
    }
  }

  @mixin dark {
    /* pure black checkbox is not low enough contrast to look disabled */
    &[data-disabled] {
      &::before,
      &::after {
        background: var(--gray-100);
      }
    }
  }

  &::before {
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    transform-origin: 0 0;
    transition:
      transform 100ms ease 80ms,
      opacity 200ms ease;
  }

  [data-state="indeterminate"]::before {
    opacity: 0;
  }

  &::after {
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    transform-origin: 0 100%;
    transition: transform 100ms ease 160ms;
  }
}

.Label {
  display: flex;
  align-items: center;
  min-height: 20px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;

  [data-disabled] & {
    cursor: not-allowed;
  }

  [data-orientation="left"] & {
    padding-left: 8px;
  }

  [data-orientation="right"] & {
    padding-right: 8px;
  }
}
