.SliderWrap {
  @mixin hover {
    .Reset[data-hide="false"] {
      cursor: pointer;
      opacity: 1;
      transition:
        visibility 0ms,
        opacity 250ms ease;
      visibility: visible;
    }
  }
}

.Slider {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 6px;
  touch-action: none;
  user-select: none;

  /* Dirty reach for radix internal to support animated changes */
  span:nth-child(2) {
    transition: left var(--slider-duration) var(--cubic-move);
  }
}

.Track {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 4px;
  border-radius: var(--radius-2xs);
  background: var(--slider-track-color);
}

.Range {
  position: absolute;
  height: 100%;
  border-radius: var(--radius-2xs);
  background: var(--slider-range-color);
  transition: right var(--slider-duration) var(--cubic-move);
}

.Thumb {
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--gray-0);
  box-shadow: inset 0 0 0 2px var(--slider-range-color);
  cursor: grab;
  outline: none;

  &:focus-visible {
    box-shadow: inset 0 0 0 2px var(--green-600);
    outline: none;
  }

  &:focus {
    box-shadow: inset 0 0 0 2px var(--slider-range-color);
  }

  &:active {
    cursor: grabbing;
  }

  &:disabled {
    pointer-events: none;
  }
}

.SliderLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  margin-bottom: 8px;
  color: var(--color-text);
  font-size: 14px;
}

.Reset {
  /* Ensures cursor switches back immediately after clicking reset button. */
  cursor: default;
  opacity: 0;
  transition:
    visibility 0ms ease 250ms,
    opacity 250ms ease;
  visibility: hidden;

  /* Custom overrides outside the design system. Using the data attribute to win the specificity war. */
  &[data-size="2xs"] {
    width: 22px;
    height: 22px;

    svg {
      width: 14px;
      height: 14px;
    }
  }
}

.SliderValue {
  overflow: hidden;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  gap: 2px;
  height: 26px;
  padding: 0 4px;
  border: 0.5px solid transparent;
  border-radius: var(--radius-sm);
  margin-right: -4px;
  appearance: none;
  background: transparent;
  cursor: text;
  outline: none;
  text-align: center;
  transition: border-color 250ms ease;

  @mixin breakpoint md {
    height: 22px;
  }

  .SliderWrap:hover &:not(:focus-within) {
    border-color: var(--gray-200);
  }

  &:focus-within {
    border-color: var(--gray-500);
  }
}

.ValueInput {
  height: 100%;
  padding: 0;
  border: 0;
  appearance: none;
  background: transparent;
  color: var(--color-text);
  font-size: 16px;
  font-variant-numeric: tabular-nums;
  outline: none;
  text-align: left;
  transition: width 100ms ease;

  @mixin breakpoint md {
    font-size: 13px;
  }
}

.ValueUnit {
  color: var(--color-text-secondary);
  font-size: 12px;
  user-select: none;
}

.SliderContainer {
  position: relative;
  width: 100%;
}

.MarksContainer {
  position: relative;
  width: 100%;
  margin-top: 4px;
}

.Mark {
  position: absolute;
  color: var(--color-text);
  font-size: 12px;
  font-weight: normal;
}

.MarkLabel {
  display: inline-block;
  overflow-wrap: break-word;
  text-align: center;
  word-wrap: break-word;
}
